<ion-menu [content]="content" id="menu1">

  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">
        <ion-card text-center class="hide-card">
          <img src="assets/imgs/todo.png" class="custom-avatar"/>
          <h2 style="font-weight: bold; color: #1abc9c;">Menu Items</h2>
          <p style="font-weight: bold;">Todo lists</p>
          <!-- <p>I am the third guy inline here</p> -->
        </ion-card>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <ion-item no-lines menuClose *ngFor="let page of pages" [class.activeHighlight]="checkActive(page)" (click)="openPage(page)">

        <ion-icon *ngIf="page.title=='Home'" name="clipboard" item-left></ion-icon>
        <ion-icon *ngIf="page.title=='List'" name="cart" item-left></ion-icon>
        <!-- <ion-icon *ngIf="page.title=='Contact'" name="contacts" item-left></ion-icon> -->
        <!-- <ion-icon *ngIf="page.title=='Notifications'" name="ios-megaphone" item-left></ion-icon>
        <ion-icon *ngIf="page.title=='Statistics'" name="stats" item-left></ion-icon>
        <ion-icon *ngIf="page.title=='Server Docs'" name="book" item-left></ion-icon>
        <ion-icon *ngIf="page.title=='Settings'" name="settings" item-left></ion-icon> -->

        <ion-label>{{ page.title }}</ion-label>

      </ion-item>

    </ion-list>


    <!-- <ion-list>
      <button ion-item menuClose="menu1" detail-none>
        Close Menu 1
      </button>
    </ion-list> -->

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #myNav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
