page-task {

  .task-modal {
    height: 50%;
    bottom: 0;
    top: auto;
  }

  .round-button{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 25px;
    cursor: pointer;
    background-color: #2c3e50;
  }

}
